{
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/eslint-config-prettier"
  ]
}
